.Number_1{
 
    font-family:Verdana, Tahoma, sans-serif ;
}
#Number_2{
    color: blue;
    font-size: 36px;
}
.Number_3{
  
    font-size: 24px;
    font-family:Verdana, Tahoma, sans-serif ;
}
#Number_4{
    background-color: rgb(12, 215, 53);
    font-size: 24px;
}
.Number_5{
    background-color: rgb(251, 128, 128);
    font-family:Verdana, Tahoma, sans-serif ;
}
.Empty{
    background-color: rgb(251, 128, 128);
}